$mobile: 400px;
$tablet: 768px;
$medium: 998px;
$ipadPro: 1080px;
$large: 1120px;

$bg: #F2F5FA;
$popup_bg: #E4EAF2;
$blue_font: #042F61;
$cta_bg :  #FC4159;
$cta_hover: #FF5A6F;
$cta_pressed: #DA2C43;
$disabled:  #B1B9C4;
$input_focus: #42A0B9;
$overflow: rgba(0, 14, 30, 0.8);
$arrow: #42A0B9;
$arrow_hover: #58B4CC;
$arrow_pressed: #28849C;

$font: 'Open Sans', sans-serif;
$font2: 'Open Sans Condensed', sans-serif;
$font_accent: 'Lobster', cursive;

$under_title_space: 32px;
$header_height: 68px;

$mobile_padding: 8px;
$medium_padding: 16px;
$blue: #042F61;
$text_shadow: rgba(0, 0, 0, 0.75) -2px 0px 2px;